.customNav {
    background-color: grey;
    padding: 20px 10px;
}

.customNav a{
    color:white !important; 

}

.navbar-nav{
    Margin-left:auto;
    margin-right: 0 !important;
}



.heroBackground2 {
    background-image: url(../images/coverphoto-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
}

.heroContent h1 {
    color: white;
    text-align: center;
    font-size: 48px;

}

.contentSection {
    padding-top: 100px;
    padding-bottom: 100px;
}

.heading {
    color: lightgray;
    margin-bottom: 40px;

}


.sectionHeading {
    background-color:lightgray ;
    text-align: center;
    color: white;
    padding:50px 0;
    font-weight: 400;
    font-size: 50px;
}

.timelineimg {
    width:100%;
}




